#p7 >.container-fluid{

    position: relative;
    
#p5{top:100px;
    position: relative;}
#p4{top:100px;
    position: relative;}

#p3{top:100px;
position: relative;}
#p7{top: 100px;
    position: relative;}
#p8{top: 180px;
    position: relative;}