@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.formbody {
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;

}

.container3 {
  max-width:100%;
  width: 700px;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
 
 
  padding: 25px;

  
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
   border-radius:20px 20px 20px 20px;
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
   border-radius:20px 20px 20px 20px;
  cursor: pointer;
  width: 30%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;float:right;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}


.main2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-con {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-con div {
  padding: 20px;
}


body, text, tspan{

    font-family:"Roboto Condensed",sans-serif;
}

p {
   
    text-align: justify;
    top: 90px;
    left: 3px;
    /* transform-origin: top; */
    position: relative;
    width: 83.5%;
    margin: auto!important;
    white-space: wrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: rgba(0,84,165,1);
}

.kokoflex {
    display: grid;
    grid-template-columns: 75% 25%;
    width: 73.6%;
    margin: auto;
    top: -20px;
    position: relative;
}
    
    #carouselExampleControls3{
    
      width:90%;
      margin:auto;
    }
    .im{width: 80%;
        position: relative;}

    .im2 {
        width: 80%;
        left: 40px;
        position: relative;
        
    }
    
    .mar{margin:auto;
    width:50%;
display: none;}
    a.carousel-control-next> svg {
        width: 20%;
    }
    a.carousel-control-prev> svg {
        width: 20%;
    }
    .im{width: 80%;}

.products img {
    width: 60px;
}
.kokocover {
    position: relative;
    top: 130px;
}

.mapinfo2>svg {
    width: 170px;
}
.mapinfo2{
    display:none;
}
.container-fluid{

    padding-right: 15px!important;
    padding-left: 15px!important;
    margin-right: auto!important;
    margin-left: auto!important;
}

.logo {
    position: absolute;
    left: 0;
}
.imagediv {
    mix-blend-mode: multiply;
    background-image: url(A.jpg);
    /* height: 80vh; */
    width: 100%;
    top: 70px;
    position: relative;
    background-size: cover;
    height: 100vh;
    background-position: right top;
    background-repeat: no-repeat;
}


.followMeBar {
    
filter: drop-shadow(0px 3px 6px rgba(80, 111, 135, 1));
    
/* background: lightblue; */
    
padding: 10px 20px;
    
position: relative;
    
z-index: 3;
    
top: 60px;
    
color: #fff;
    
width: 86%;
    
/* height: 70px; */
    
border-radius: 0px 100px 100px 0px;
    
height: 200px;
    
/* opacity: 0.84; */
    
BACKGROUND-COLOR: rgba(	42, 111, 179, 1);
    
stroke: rgba(112,112,112,1);
    
stroke-width: 1px;
    
stroke-linejoin: miter;
    
stroke-linecap: butt;
    
stroke-miterlimit: 4;
    
shape-rendering: auto;
    
z-index:11;
}   

.page-1{
    z-index:1;
    position: relative;
    top: 50px;
}

.followMeBar.fixed {
    position: fixed;
    top: 140px;
    width:85.83%;
    box-sizing: border-box;
    z-index: 10;
}
  
  .followMeBar.fixed.absolute {
    position: absolute;
  }
.page-2{

/* position: relative; */

overflow:hidden;

/* top: 0; */

width:100%;
}
  .text{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    left: 14.16%;
    /* top: 1267px; */
    position: relative;
    overflow: visible;
    width: 651px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    color: rgba(255,255,255,1);
    text-transform: uppercase;
}
.text2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    left: 14.16%;
    /* top: 1267px; */
    position: relative;
    overflow: visible;
    width: 651px;
    white-space: wrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    color: rgba(255,255,255,1);
    text-transform: uppercase;
}


.container2 {
    width: 100%;
    position: relative;
}

.heightmask {
    overflow-y: scroll;

    width: 100%;

    height: 85vh;
    overflow: -moz-scrollbars-none;
    /* this will hide the scrollbar in internet explorers */
    -ms-overflow-style: none;
    }
    
    .heightmask::-webkit-scrollbar {
    width: 0px!important;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
    }
    


@media only screen and (max-width:1650px) and (min-width:1480){
    .heightmask {
    overflow-y: scroll;
 
    width: 100%;

    height: 85vh;
}
}

p {
    font-size: 24px;
    text-align: justify;
  top:100px;
  left:3px;
    position: relative;

    width: 73.5%;
    margin:auto!important;
    white-space: wrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: rgba(0,84,165,1);
}


  

  







@media only screen and (max-width:2600px){


    .leftd > p {
        font-size: 30   px;
    }
      
}
@media only screen and (max-width:1999px){

    .leftd > p {
        font-size: 24px;
    }
      
}
@media only screen and (min-width:1560px) and (max-width:1922px){}
@media only screen and (max-width:1699px){
    .leftd > p {
        font-size: 20.1px;
    }

    .imagediv {
        mix-blend-mode: multiply;
        background-image: url(A.jpg);
        /* height: 80vh; */
        width: 100%;
        top: -30px;
        position: relative;
        background-size: cover;
        height: 100vh;
        background-position: right top;
        background-repeat: no-repeat;
    }
}
@media only screen and (max-width:1480px){

    .imagediv {
    mix-blend-mode: multiply;
    background-image: url(A.jpg);
    /* height: 80vh; */
    width: 100%;
    top: 70px;
    position: relative;
    background-size: cover;
    height: 100vh;
    background-position: right top;
    background-repeat: no-repeat;
}
}
@media only screen and (max-width:1442px){}
@media only screen and (max-width:1368px){}
@media only screen and (max-width:1281px){}
@media only screen and (max-width:1080px){}
@media only screen and (max-width:1025px){


    .mapinfo2{
        display:flex;
        justify-content: center;
        width: 100%;
        position:relative;
    }


   
    .text {
        width: 100%;
        font-size: 4.9vw;
        left: 7.46%;
        height: 100%;
    }
    .text2 {
        width: 100%;
        font-size: 4.9vw;
        left: 7.46%;
        height: 100%;
    }
}
@media only screen and (max-width:972px){}
@media only screen and (max-width:770px){
    .dis{display:none;}
    .kokoflex {
        display: grid;
        grid-template-columns: 100%;
        width: 90%;
        margin: auto;
    }

    .mar{display: block;}
}
@media only screen and (max-width:702px){

   

    .text {
        width: 100%;
        white-space: break-spaces;
        font-size: 6.9vw;
        line-height: 45px;
        left: 7.46%;
        height: 100%;
    }
    .text2 {
        width: 100%;
        white-space: break-spaces;
        font-size: 6.9vw;
        line-height: 45px;
        left: 7.46%;
        height: 100%;
    }
}
@media only screen and (max-width:500px){
    
}
@media only screen and (max-width:380px){
    .text {
        width: 100%;
        white-space: break-spaces;
        font-size: 7.9vw;
        left: 7.46%;
        height: 100%;
    }

    
    p {
        font-size: 4.4vw!important;
        text-align: justify;
        top: 90px;
        left: 9px;
        /* transform-origin: top; */
        position: relative;
        width: 83.5%;
        margin: auto!important;
        white-space: wrap;
        text-align: left;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        color: rgba(0,84,165,1);
    }
}

@media only screen and (max-width:322px){}




